.summary {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 40px 1px rgba(0, 255, 117, 0.50);
  }
  
  .summary h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .summary p {
    margin: 10px 0;
  }
  
  .summary a {
    color: blue;
    text-decoration: underline;
  }
  